<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Image Search</title>
</head>
<body>
    <div class="topic"><h1>Image Search</h1></div>
    <div class="upload-block">
        <div class="upload">
            <form id="upload-form" enctype="multipart/form-data">
                <label for="file-input" class="custom-file-input">Choose File</label>
                <input type="file" id="file-input" onchange="ButtonShow()" name="files" accept=".png, .jpg" multiple>
                <button class="upload-button" type="button" onclick="uploadFiles()">Upload</button>
            </form>
            <div class="check-buttons">
                <button id="selected-button" onclick="viewSelectedFiles()">Selected Files</button>
                <button id="uploaded" onclick="viewUploadedFiles()">Uploaded files</button>
            </div>
            <div id="selected-files"></div>
            <div id="uploaded-files"></div>
        </div>
        <div id="current-file"></div>
        <progress id="upload-progress" value="0" max="100" style="display: none;"></progress>
        <div id="upload-message"></div>

        <div class="search-block">
            <form id="search-form">
                <input type="text" id="query-input" onkeyup="searchImages()" placeholder="Search by description...">
            </form>
        </div>
    </div>
    <div class="search">
        <h2 id="search-label" style="display: none;">Search Results:</h2>
        <ul id="search-results"></ul>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
